.resizer {
  height: 100%;
  width: 1rem;
  background-color: #000;
  cursor: col-resize;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
}

.resizer > div {
  content: "";
  height: 5vh;
  width: 50%;
  background-color: #fff;
  border-radius: 16px;
}

/* @media screen and (max-width: 860px) {
  .resizer {
    height: 0.6rem;
    width: 100%;
  }

  .resizer > div {
    height: 50%;
    width: 5vh;
  }
} */
