.resizer {
  height: 100%;
  width: 1rem;
  background-color: #000;
  cursor: col-resize;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
}

.resizer > div {
  content: "";
  height: 5vh;
  width: 50%;
  background-color: #fff;
  border-radius: 16px;
}
